@using Mihu_Project.Models
@{
    ViewBag.Title = "Staff_ChangePassword";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>Change Password</h2>

@Html.Partial("_changepass", new ChangPasswordModel())