
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutCus.cshtml";
}

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Contact Information</h3>
                <div class="row contact-info-wrap">
                    <div class="col-md-3">
                        <p><span><i class="icon-location"></i></span> 75 Le Quoc Hung 12,<br>  4, Ho Chi Minh city, Viet Nam</p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-phone3"></i></span> <a href="tel://+84909228563">+84 909 228 563</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-paperplane"></i></span> <a href="mailto:info@yoursite.com">minhhuy499@gmail.com</a></p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-globe"></i></span> <a href="http://mihucustomerservice.azurewebsites.net">Mihu Customer Service</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorlib-map row" >
            
                <iframe class="col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6074342018646!2d106.70169895111015!3d10.764707592291865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6a4bee50ff%3A0xc7979ed85198fa51!2zNzUgTMOqIFF14buRYyBIxrBuZywgUGjGsOG7nW5nIDEyLCBRdeG6rW4gNCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1571133196631!5m2!1svi!2s"
                        frameborder="0" style="border:0; z-index=100;" allowfullscreen="" height="400"></iframe>
                
        </div>



    </div>
</div>

