<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body>
    <hgroup>
        
        
        <div class="container-fluid">
            <!-- Page Content -->
            <h1 class="display-1">404</h1>
            <p class="lead">
                Page not found. You can
                <a href="javascript:history.back()">go back</a>
                to the previous page

            </p>
            <h2>@Html.ValidationSummary(false, "", new { @style = "color: red;" })</h2>
        </div>
    </hgroup>
</body>
</html>
